.image{

    height:100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    .navbar-light .navbar-nav .nav-link {
        color: white;
        
    }
    h1{
        padding: 30px;
       
    }
        
   
   